@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Open+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: url("../assets/img/fundo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

header {
  text-align: center;
  padding: 45px;
}

header p {
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
  padding-top: 35px;
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: #ffffff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 183px;
}

.loki {
  padding-right: 73px;
}

span {
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.paragrafo-loki {
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  width: 722px;
}

.conteudo-responsivo {
  display: none;
}

section img {
  margin-left: 15px;
}

.data {
  text-align: center;
  margin-left: 40em;
}

button {
  margin: 35px 18px;
}

.assistir-agora {
  width: 184px;
  height: 52px;
  background: #0072d2;
  border: 5px solid transparent;
  border-radius: 5px;
}

.assistir-agora a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.trailer {
  width: 115px;
  height: 52px;
  background: #131318;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.trailer a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

footer {
  text-align: center;
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

/*** RESPONSIVIDADE ***/

@media (max-width: 1000px) {
  body {
    background: url(../assets/img/bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    padding: 54px;
  }

  header p {
    font-family: "B612";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  header h1 {
    padding-top: 29px;
    font-family: "B612";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
  }

  .loki,
  .paragrafo-loki,
  .assistir-agora,
  .trailer {
    display: none;
  }

  main {
    padding-top: 170px;
    flex-direction: column;
  }

  span {
    font-family: "B612";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
  }

  section img {
    width: 20px;
    margin-left: 6px;
  }

  .data {
    margin-left: 0;
  }

  .conteudo-responsivo {
    display: inline-block;
    background: #19191f;
    border-radius: 20px 20px 0px 0px;
    width: 375px;
    height: 350px;
  }

  .assistir-agora-responsivo {
    width: 150px;
    height: 35px;
    background: #0072d2;
    border-radius: 3px;
    border: 1px solid #0072d2;
  }

  .assistir-agora-responsivo a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
  }

  button {
    margin: 17px;
  }

  .trailer-responsivo {
    width: 149px;
    height: 35px;
    background: #131318;
    border: 1px solid #ffffff;
    border-radius: 3px;
  }

  .trailer-responsivo a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
  }

  .divider {
    width: 311px;
    height: 3px;
    background: rgba(196, 196, 196, 0.08);
    margin: 9px;
    margin-left: 30px;
  }

  .paragrafo-loki-responsivo {
    font-family: "B612";
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }
}
